body {
    width: 70%;
    margin: auto;
    font-family: "Lato", sans-serif;
}

header {
    margin-bottom: 5%;
}
header h1 {
    font-size: 300%;
    margin-bottom: -0.5%;
}
header p {
    font-size: 70%;
}

ul {
    list-style-type: none;
}

a:link, a:active, a:visited {
    color: whitesmoke;
    text-decoration: none;
}

a:hover {
    color: #366d47;
}

section {
    display: flex;
    justify-content: center;
    align-content: center;
}

.divider {
    display: inline-block;
    background-color: #63C58B;
    width: 28%;
    padding: 0.5%;
    margin-right: 2%;
    border-radius: 5px;
}